@model DealDouble.Web.ViewModels.UserListingViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Index</h2>
@foreach (var item in Model.dealDoubleUsers)
{
    @item.Email
}
<h1>@Model.Email</h1>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th> User Name </th>
                    <th>Email</th>
                    <th>PhoneNumber </th>
                    <th> Roles </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.dealDoubleUsers)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Roles.Count</td>
                        <td>
                            <button class="editButton btn btn-primary" data-id="@item.Id">Edit</button>
                            <button class="deleteButton btn btn-danger" data-id="@item.Id">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
