@model DealDouble.Web.ViewModels.CategoryListingViewModel

<div class="row">
    <<div class="col-lg-12 m-2">
    <div class="float-left">
        <h2>Categories</h2>
    </div>
    <div class="float-right">
        <button class="btn btn-success" id="createButton">Create New Category</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Auctions
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.Description
                    </td>
                    <td>
                        @category.Auctions.Count()
                    </td>
                    <td>
                        <button class="editButton btn btn-primary" data-id="@category.ID" data-toggle="modal" data-target="#formModal">Edit</button>
                        <button class="deleteButton btn btn-danger" data-id="@category.ID" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="contentArea">

    </div>


  </div>
</div>

<script>
    $(".deleteButton").click(function () {
       
        $.ajax({
            url: "/Category/Delete/",
            method: "get",
            data: {
                ID: $(this).attr("data-id")
            }

        })
            .done(function (response) {
                $("#contentArea").html(response);
            });
    });



    $("#createButton").click(function () {
        debugger;
        $.ajax({
            url: "/Category/Create/",
            method: "get"
        })
            .done(function (response) {
                $("#contentArea").html(response);
            });

    });

    $(".editButton").click(function () {
        $.ajax({
            url: "/Category/Edit/",
            method: "get",
            data: {
                ID: $(this).attr("data-id")
            }

        })
            .done(function (response) {
                debugger;
                $("#contentArea").html(response);
            })
    });


</script>


