@model DealDouble.Web.ViewModels.AuctionDetailViewModel


@*for refreshing the page*@
<meta http-equiv="refresh" content="100">
<div class="row">

    <div class="col-lg-12">


        <div class="card mt-4">

            @if (Model.Auction.AuctionPictures != null && Model.Auction.AuctionPictures.Count > 0)
            {
                var firstAuctionPicture = Model.Auction.AuctionPictures.First();
                var i = 0;
                <div id="carouselIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var picture in Model.Auction.AuctionPictures)
                        {
                            var active = picture == firstAuctionPicture ? "active" : string.Empty;
                            <li class="@active" data-target="#carouselIndicators" data-slide-to="@i"></li>
                            i++;
                        }

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @foreach (var picture in Model.Auction.AuctionPictures)
                        {

                            var active = picture == firstAuctionPicture ? "active" : string.Empty;

                            var picURL = "/Content/images/" + picture.Picture.URL;
                            <div class="carousel-item @active">
                                <img class="d-block img-fluid rounded mx-auto d-block" src="@picURL">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            }
            <div class="card-body">
                <h3 class="card-title">@Model.Auction.Title</h3>
                <h2 class="float-right" id="demo11"></h2>
                <br />
                <p class="float-right">End Bids Time @Model.Auction.EndingTime</p>
                <h4>
                    $@Model.BidsAmount
                    @if (Model.LatestBidder != null)
                    {
                        <text>
                            [@Model.LatestBidder.UserName]
                        </text>
                    }

                </h4>
                <p class="card-text">@Model.Auction.Description</p>
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                4.0 stars
            </div>
            <div class="card-footer text-muted">
                <button type="button" class="btn btn-success" id="btnBidNow"> Bid Now</button>
                <div class="float-right" id="countdown"></div>
            </div>
        </div>



        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                Comments
            </div>

            @if (Model.Comments != null && Model.Comments.Count > 0)
            {
                foreach (var comment in Model.Comments)
                {
                    var defaultStar = 5 - comment.Rating;
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                    <p class="text-secondary text-center">@comment.TimeStamp</p>
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        <a class="float-left" href="#"><strong>@comment.UserID</strong></a>


                                        <span class="text-warning float-right">
                                            @for (int i = 0; i < comment.Rating; i++)
                                            {
                                                <i class="ratingStar fas fa-star"></i>
                                            }

                                            @for (int i = 0; i < defaultStar; i++)
                                            {
                                                <i class="ratingStar far fa-star"></i>
                                            }

                                        </span>


                                    </p>
                                    <div class="clearfix"></div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                < p >< b > There is no comment </ b > </ p >
                < hr />
            }
            <hr />
            @if (User.Identity.IsAuthenticated)
            {
                <form id="CommentForm">
                    <input type="hidden" name="EntityID" value="@Model.EntityID" />
                    <input type="hidden" name="RecordID" value="@Model.Auction.ID" />

                    <div class="form-group">
                        <label><b>Write Your Comment</b></label>
                        <span class="text-warning float-right">
                            <i class="ratingStar fas fa-star" data-value="1"></i>
                            <i class="ratingStar far fa-star" data-value="2"></i>
                            <i class="ratingStar far fa-star" data-value="3"></i>
                            <i class="ratingStar far fa-star" data-value="4"></i>
                            <i class="ratingStar far fa-star" data-value="5"></i>
                        </span>
                        <input name="Rating" type="hidden" id="ratingsValue" value="1" />

                        <textarea placeholder="Write Your Comment Here" class="form-control" name="Text" rows="3"></textarea>
                    </div>
                    <button type="button" id="btnComment" class="btn btn-success">Leave a Review</button>
                </form>

            }
            else
            {
                < p >< b > You Need to login to leave Comments </ b > </ p >
            }
        </div>
    </div>
    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(".ratingStar").click(function () {
        $(".ratingStar").addClass("far").removeClass("fas");

        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });

    $(".ratingStar").click(function () {
        debugger;
        var starValue = $(this).attr("data-value");
        $("#ratingsValue").val(starValue);
    });


    $("#btnBidNow").click(function () {
        debugger;
        $.ajax({
            url: "@Url.Action("Bid","Bids")",
            type: "post",
            data: {
                ID: '@Model.Auction.ID'
            }
        }).done(function (response) {
                debugger;
                if (response.Success)
                {
                    window.location.reload();
                }
                else {
                    swal("Error !", response.Message, "error");
                }
            }).fail(function () {
                swal("Error !", "Error Occured . Please Try Again later", "error");
            });
    });


    $("#btnComment").click(function () {
        debugger;
        $.ajax({
            url: "@Url.Action("LeaveComment", "Shared")",
            type: "post",
            data: $('#CommentForm').serialize()
        }).done(function (response) {
            debugger
                if (response.Success)
                {
                    window.location.reload();
                }
                else {
                    swal("Error !", response.Message, "error");
                }
            }).fail(function () {
                swal("Error !", "Error Occured . Please Try Again later", "error");
            });
    });





    var userDate1 = @Model.Auction.EndingTime.Value.Hour+":"+@Model.Auction.EndingTime.Value.Minute+":"+@Model.Auction.EndingTime.Value.Second; //MM-dd-YYYY || Mz



    var userDate = @Model.Auction.EndingTime.Value.Month+"-" +@Model.Auction.EndingTime.Value.Day+"-" +@Model.Auction.EndingTime.Value.Year;
    var date = new Date(userDate),
        yr = date.getFullYear(),
        month = date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth(),
        day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate(),
        newDate = (yr + '-' + (parseInt(month) + 1) + '-' + day) + " " + userDate1; //YYYY-MM-dd TIME || Mz
    // Set the date we're counting down to
    //var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
    var countDownDate = new Date(newDate).getTime();
    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();
       // debugger;
        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo11").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo11").innerHTML = "EXPIRED";
            const button = document.getElementById('btnBidNow');

            button.disabled = true;
            alert("Button Disable")
        }
    }, 1000);






    

    

    @*//timercount

    var EMinutes = @Model.Auction.EndingTime.Value.Minute;
    var NMinutes = @System.DateTime.Now.Minute;
    EMinutes = EMinutes - NMinutes
    EMinutes = EMinutes * 60;

    var EDay = @Model.Auction.EndingTime.Value.Day;
    var NDay = @System.DateTime.Now.Day;
    EDay = EDay - NDay
    EDay = EDay * 24 * 60 * 60;
        
    var EHours = @Model.Auction.EndingTime.Value.Hour;
    var NHours = @System.DateTime.Now.Hour;
    EDay = EHours - NHours
    EDay = EDay * 24 * 60 * 60;

    var ESecond = @Model.Auction.EndingTime.Value.Second;
    var NSecond = @System.DateTime.Now.Second;
    ESecond = ESecond - NSecond
    ESecond = ESecond + EDay + EMonth + EDay + EMinutes
    if (EDay <= 0) {

        document.getElementById("countdown1").innerHTML = EDay + " seconds remaining";

    }




    //var timeleft = ESecond;
    ////var timeleft = 1000;
    //var downloadTimer = setInterval(function () {
    //    if (timeleft <= 0) {
    //        clearInterval(downloadTimer);
    //        document.getElementById("countdown1").innerHTML = "Finished";
    //    } else {
    //        document.getElementById("countdown1").innerHTML = timeleft + " seconds remaining";
    //    }
    //    timeleft -= 1;
    //}, 1000);*@








    //timer
    
    var timeleft = 10;
    var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
            clearInterval(downloadTimer);
            document.getElementById("countdown").innerHTML = "Finished";
        } else {
            document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
        }
        timeleft -= 1;
    }, 1000);







</script>