@model DealDouble.Entities.Auction

<h2>Edit Auction</h2>
<form method="post">
    <label>Title</label>
    <input name="Title" value="@Model.Title" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>ActualAmount</label>
    <input name="ActualAmount" value="@Model.ActualAmount"/>
    <br />
    <label>StartingTime</label>
    <input name="StartingTime" value="@Model.StartingTime"/>
    <br />
    <label>EndingTime</label>
    <input name="EndingTime" value="@Model.EndingTime"/>
    <br />
    <button>Edit</button>
</form>