@model DealDouble.Web.ViewModels.AuctionListingViewModel


<div class="row">

    <div id="listingArea" class="col-lg-12">
        <h2>Auctions</h2>

        <form method="post">
            <div class="form-group">
                <label for="Category1">Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }

                </select>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Here" name="search" id="searchTxt" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                    <button id="searchBtn" class="btn btn-primary" type="button">Search</button>


                </div>
            </div>

        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Title </th>
                    <th>Category</th>
                    <th> Description </th>
                    <th> ActualAmount </th>
                    <th> StartingTime </th>
                    <th> EndingTime </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var auction in Model.Auctions)
                {
                    <tr>
                        <td>@auction.Title</td>
                        <td>@auction.Category.Name</td>
                        <td>@auction.Description</td>
                        <td>@auction.ActualAmount</td>
                        <td>@auction.StartingTime</td>
                        <td>@auction.EndingTime</td>
                        <td>
                            <button class="editButton btn btn-primary" data-id="@auction.ID">Edit</button>
                            <button class="deleteButton btn btn-danger" data-id="@auction.ID">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Auction", new { pageNo = Model.PageNo})">1</a></li>
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Auction", new { pageNo = Model.PageNo})">2</a></li>
                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Auction", new { pageNo = Model.PageNo})">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Auction", new { pageNo = Model.PageNo+1})">Next</a>
                </li>
            </ul>
        </nav>





        <div>
            <button class="btn btn-success" id="createButton">Create New Auction</button>
        </div>



        <div id="contentArea">

        </div>




        <div id="imageTemplate" style="display:none">
            <img class='image img-thumbnail' src="" style="width:200px;height:200px;" />

        </div>


        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>




        <script>
            $(".deleteButton").click(function () {

                var result = confirm("Are you sure want to delete this Auction");
                if (result == true) {
                    $.ajax({
                        url: "/Auction/Delete/",
                        method: "post",
                        data: {
                            ID: $(this).attr("data-id")
                        }

                    })
                        .done(function (response) {
                            debugger;
                            $("#listingArea").html(response);
                        })
                        .fail(function () {

                        });
                }

            });




            $(".editButton").click(function () {
                $.ajax({
                    url: "/Auction/Edit/",
                    method: "get",
                    data: {
                        ID: $(this).attr("data-id")
                    }

                })
                    .done(function (response) {
                        debugger;
                        $("#contentArea").html(response);
                    })
            });



            $("#createButton").click(function () {
                $.ajax({
                    url: "/Auction/Create/",
                    method: "get"
                })
                    .done(function (response) {

                        $("#contentArea").html(response);
                    });

            });


            function AttachNewImage(imageURL, imageID) {
                var $newimgHTML = $("#imageTemplate").clone();
                $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
                $newimgHTML.find(".image").attr("data-id", imageID);


                $("#picturesArea").append($newimgHTML.html());
                RemoveImagesOnClick();

            }







            function RemoveImagesOnClick() {
                $("#picturesArea .image").click(function () {
                    debugger;
                    $(this).remove();
                });
            }

            function ReloadListing() {
                $.ajax({
                    url: "/Auction/Index/",
                    method: "get"
                })
                    .done(function (response) {

                        $("#listingArea").html(response);
                    });
            }






        </script>
    </div>
</div>


@*this is under trail*@
@*<div id="tableContainer">
    @{
        Html.RenderAction("Listing");

        //Html.RenderAction("Create");
    }
</div>
<hr />

<div id="actionContainer">


</div>*@

<div id="imageTemplate" style="display:none">
    <img class='image img-fluid' src='' />

</div>

